@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Lobster&display=swap');

html {
  font-size: 62.5%;
}

body {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.75rem;
  padding: 0;
  margin: 0;
  }

a {
  color: inherit;
  text-decoration: none;
  font-size: 1.5rem;
}

* {
  box-sizing: border-box;
}


/* Global Classes */

.imgCircular {
  border-radius: 50% !important;
  overflow: hidden;
}

.display-handwriting {
  font-family: 'Lobster', cursive;
}
/* Bootstrap Overwrite Classes */

.bg-light {
  background-color: lightgray;
}